body {
      margin: 0;
      padding: 0;
      
    }
    .main{
      height: 100vh;
      font-family: 'Comic Sans MS', cursive, sans-serif;
      background-image: url("mobileview.jpeg");   
      background-size:cover;
      background-position: center;   
      text-align: center;
      color: #fff;
      overflow-x: hidden;
    }
    h1 {
      font-size: 4rem;
      margin-top: 50px;
      animation: glow 3s infinite alternate;
      color: rgb(255, 0, 102);
      text-shadow: 0 0 10px #000000;
      animation: glow 2s infinite alternate;
    }
    @keyframes glow {
      0% { text-shadow: 0 0 10px #000000; }
      50% { text-shadow: 0 0 20px #ffb30e; }
      100% { text-shadow: 0 0 10px #000000; }
    }
     h2 {
      font-size: 3rem;
      margin-bottom: 20px;
      animation: glow 3s infinite alternate;
      color: rgb(255, 255, 255);
      text-shadow: 0 0 10px #000000;

    }
   
    .balloons {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     margin-top: 100px;
     width: 100%;
     }
    .balloon>img{
      width: 100px;
     animation: swing 1.5s infinite alternate ease-in-out;  
     }
    .downarrow{
      animation: bounce 1s infinite;
    }
    @keyframes bounce {
      0%, 100% { transform: translateY(0); }
      50% { transform: translateY(-40px); }
    }

   .balloon:nth-child(1) img{
    animation-delay: 0s;
   }
   .balloon:nth-child(2) img{
    animation-delay: 1s;
   }
   .balloon:nth-child(3) img{
    animation-delay: 2s;
   }
   .balloon:nth-child(4) img{
    animation-delay: 3s;
   }
   .balloon:nth-child(5) img{
    animation-delay: 4s;
   }
    @keyframes float {
      0% { transform: rotate(10deg); }
      100% { transform: rotate(10deg); }
    }
    
   
    .cake img {
      width: 35rem;
      border-radius: 15px;
      box-shadow: 0 0 20px #fff;
      animation: swing 2s infinite alternate ease-in-out;
      
    }
    @keyframes swing {
      0%   { transform: rotate(-10deg); }
      100% { transform: rotate(10deg); }
    }
    .footer {
      margin-top: 50px;
      font-size: 3rem;
      background: rgba(0,0,0,0.3);
      padding: 15px;
      border-radius: 10px;
      display: inline-block;
    }
    
    .space{
      height: 100rem;
    }

